@font-face {
  font-family: 'CutOut';
  src: url("../fonts/CutOutOFFont.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CutOutOFFont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/CutOutOFFont.otf") format("opentype"), /* Open Type Font */
    url("../fonts/CutOutOFFont.svg") format("svg"), /* Legacy iOS */
    url("../fonts/CutOutOFFont.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/CutOutOFFont.woff") format("woff"), /* Modern Browsers */
    url("../fonts/CutOutOFFont.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}
